
button {
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal-content {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Form layout */
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-content label {
  font-size: 14px;
  margin-bottom: 4px;
  text-align: center;
}   
/* Input styling */
.modal-content input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Submit button */
.submit-button {
  padding: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 100px;
  font-size: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Submit hover */
.submit-button:hover {
  background-color: #0056b3;
}